###############################################################################
# Ignore these directories
###############################################################################

__pycache__/
htmlcov/


###############################################################################
# Ignore these files
###############################################################################

*.log
*.mo
*.pot
*.sqlite*
*~
.*


###############################################################################
# Accept these files
###############################################################################

!.dockerignore
!.editorconfig
!.gitignore
